<h1>Edit Item</h1>
  <%= form_for @list do |f| %>
  <%= f.label :item %>
  <%= f.text_area :item %>
<br />
  <%= f.label :nutrition %>
  <%= f.text_area :nutrition %>
<br />
  <%= f.label :description %>
  <%= f.text_area :description %>
<br/>
  <%= f.submit %>
<% end %>
  <%= link_to "Back", list_path %>
